body {
  background: rgb(234, 234, 234);
  font-family: Aria l, Helvetica, sans-serif;
  font-weight: 90;
  padding: 0;
  margin: 0px;
  font-size: 14px;
  line-height: 150%;
  color: #333;
}

li a {
  display: block;
  color: rgb(184, 184, 184);
  text-align: center;
  padding-bottom: 7px 5px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 25px;
  background-color: white;
  margin-top: 0px;
}


h1 {
  align-items: start;
  width: 200px; 
}

.name {
  text-align: center;
  background-color: black;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  color: white;
  padding: 15px;
  margin: 0px 184px;
}
.winsam {
display: grid;
grid-column: 1;
grid-row: 1;
}
.menu {
display: grid;
grid-column: 2;
grid-row: 1;
}



ul {
  text-align: right;
  list-style: none;
  padding-right: 20px;
}

ul li {
  display: inline-block;
  padding: 0px 0px;
  width: 90px;
  font-size: 14px;
  color: black;
}

#header {
  background-color: white;
  height: 100px;
  width: 100%;
}

/*body starts here */

/* .container1 {
    width: 100%;
    vertical-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    background-color: white;
    height: 500px;
} */

.imagecontainer {
  height: 600px;
  display: inline-block;
  width: 1200px;
  vertical-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  background-color: white;
  height: auto;
  padding: 50px;
margin: auto;
justify-items: center;
}

.image1 {
  display: grid;
  grid-column: 1fr;
  grid-row: 1fr;
  width: 100%;
  height: 100%;
  justify-items: right;

}
.image2 {
  display: grid;
  display: block;
  grid-column: 2fr;
  grid-row: 1fr;
  width: 100%;
  height: 100%;
}

.image3 {
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr;
    width: 100%;
    height: 100%;
    justify-items: right;
}
.image4 {
  display: grid;
  display: block;
  grid-column: 2fr;
  grid-row: 2fr;
  width: 100%;
  height: 100%;
}

.footer {
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
  }
  .icon-bar img {
    height: 20px;
    width: 20px;
    display: inline-block;
  }


  /* media query */

   

@media(max-width: 640px) {
  #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

 
  .winsam {
    display: none;

  }


  .menu {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  margin: 0px;
  }
  
  ul {
    text-align: center;
  }

/* container1 */



.imagecontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 25px;
  margin: 50px auto 50px auto;
  width: auto;
  height: auto;
  align-content: center;
}

.image1 {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  width: auto;
}
.image2 {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  width: auto;

}
.image3 {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  margin: auto;
  width: auto;

}
.image4 {
  display: grid;
  grid-column: 1;
  grid-row: 4;
  margin: auto;
  width: auto;

}

}


.footer {
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;

}
.icon-bar img {
  height: 20px;
  width: 20px;
  display: inline-block;
}